@font-face {
    font-family: "Actay Regular";
    src: url("fonts/Actay-Regular.woff2") format("woff2"),
      url("fonts/Actay-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Actay Wide";
    src: url("fonts/ActayWide-Bold.woff2") format("woff2"),
    url("fonts/ActayWide-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Actay Cond";
    src: url("fonts/ActayCondensed-Thin.woff2") format("woff2"),
    url("fonts/ActayCondensed-Thin.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Actay Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #5E7600;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    max-width: 1280px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-header {
  position: relative;
}

.main-header__navigation {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header-nav__main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 30px 15px;
}

.header-nav__main--open {
  background-color: #FFFFFF;
}

.header-nav__main--closed {
  background: none;
}

.header-nav__links {
  padding: 18px 79px 30px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.header-nav__links--closed {
  display: none;
}

.header-nav__links--open {
  position: fixed;
  top: 70px;
  left: 0;
  display: flex;
  width: 100%;
  height: fit-content;
}

.header-nav__list {
  margin-bottom: 28px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.header-nav__link {
  text-decoration: none;
  font-family: 'Actay Regular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.header-nav__link:hover {
  color: #259b34;
  cursor: pointer;
}

.header-nav__link:active,
.header-nav__link:focus-visible {
  color: #dfdfdf;
}

.header-nav__cta {
  margin: 0 auto;
  border-bottom: solid 1px #000000;
  padding-bottom: 10px;
  font-family: 'Actay Regular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 46%;
  text-transform: uppercase;
  color: #000000;
}

.header-nav__cta-link {
  margin-right: 49px;
  text-decoration: none;
  color: #000000;
}

.header-nav__cta-link:hover {
  color: #259B34;;
  cursor: pointer;
}

.header-nav__cta-link:active,
.header-nav__cta-link:focus-visible {
  color: #dfdfdf;
}

.header-nav__logo-text {
  text-decoration: none;
  font-family: "Actay Wide", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}

.header-nav__logo-text:hover {
  color: #259B34;
  cursor: pointer;
}

.header-nav__logo-text:active,
.header-nav__logo-text:focus-visible {
  color: #dfdfdf;
}

.header-nav__logo-text--closed {
  color: #FFFFFF;
}

.header-nav__logo-text--open {
  color: #F2F3EF;
}

.header-nav__open {
  background: none;
  border: none;
  color: #FFFFFF;
}

.header-nav__open:hover {
  color: #259B34;
  cursor: pointer;
}

.header-nav__open:active,
.header-nav__open:focus-visible {
  color: #dfdfdf;
}

.header-nav__open--closed {
  display: none;
}

.header-nav__open--open {
  display: block;
}

.header-nav__close {
  background: none;
  border: none;
  color: #000000;
}

.header-nav__close:hover {
  color: #259B34;
  cursor: pointer;
}

.header-nav__close:active,
.header-nav__close:focus-visible {
  color: #dfdfdf;
} 

.header-nav__close-text {
  margin: auto 19px auto auto;
  font-family: 'Actay Regular', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  vertical-align: top;
  color: #000000;
}

.header-nav__close svg {
  display: inline-block;
}

.header-nav__close--closed {
  display: none;
}

.header-nav__close--open {
  display: flex;
}

.header-nav__buttons {
  margin: auto 6px auto auto;
}


.header-nav__buttons--open {
  margin: 0 0 auto auto;
}

.main-header__slider {
  padding: 100px 0 135px;
}

.main-header__slider {
  min-width: 320px;
  height: 100vh;
  background: url("assets/bg-mobile.jpg")center/cover no-repeat;
}

.slider__wrapper {
  position: relative;
  padding-left: 15px;
}

.slider__list-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  margin-bottom: 18px;
}

.slider__header {
  margin-top: 5px;
  margin-bottom: 9px;
  font-family: "Actay Wide", "Arial", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}

.slider__slides {
  padding-top: 25px;
  list-style: none;
  display: flex;
  overflow-x: auto;
}

.slider__slide {
  position: relative;
  height: 217px;
  margin-right: 15px;
  padding: 18px 44px;
  flex: 1 0 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.35);
  border-radius: 35px 0px;
  animation-name: fade;
  animation-duration: 1.5s;
  backdrop-filter: blur(10px);
  display: none;
}

.slider__slide--show {
  display: flex;
}

@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}

.slider__slide::after {
  content: "";
  position: absolute;
  bottom: 193px;
  left: 100%;
  width: 16px; 
  height: 38px;
  background-color: #FFFFFF; 
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  -webkit-mask-image: linear-gradient(122deg, #000000 0%, #000000 63%, #ffffff00 64%, #ffffff00 100%);
  mask-image: linear-gradient(122deg, #000000 0%, #000000 63%, #ffffff00 64%, #ffffff00 100%);
}

.slider__icon {
  position: relative;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5E7600;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}

.slider__icon span {
  font-size: 54px;
  color: #F6FFD2;
}

.slider__icon-one {
  margin: 30px auto auto 23px;
}

.slider__icon-two {
  margin: 30px auto auto 19px;
}

.slider__icon-three {
  margin-top: 30px;
  margin-bottom: auto;
}

.slider__icon-four {
  margin: 30px auto auto 16px;
}

.slider__icon-five,
.slider__icon-six {
  margin: 30px auto auto 19px;
}

.slider__controls {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.slider__button {
  background: none;
  border: none;
  color: #FFFFFF;
}

.slider__button:hover {
  color: #259B34;
  cursor: pointer;
}

.slider__button:active,
.slider__button:focus-visible {
  color: #dfdfdf;
} 

.slider__button-text {
  font-family: "Actay Regular", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: lowercase;
  color: #F6FFD2;
}

.slider__button-text:hover {
  color: #259B34;
  cursor: pointer;
}

.slider__button-text:active,
.slider__button-text:focus-visible {
  color: #dfdfdf;
}

@media (min-width: 768px) {
  .main-header__slider {
    min-width: 320px;
    height: 80vh;
    background: url("assets/bg.jpg")center/cover no-repeat;
  }
}

@media (min-width: 1280px) {
  .header-nav__main {
    padding: 30px 70px;
  }

  .header-nav__buttons {
    display: none;
  }

  .header-nav__main {
    justify-content: flex-start;
    align-items: center;
    gap: 52px;
  }

  .header-nav__links {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
  }

  .header-nav__main--open {
    background: none;
  }

  .header-nav__links--open {
    position: static;
    display: flex;
    width: 100%;
    height: fit-content;
  }

  .header-nav__list {
    flex-direction: row;
    margin-bottom: 0;
    gap: 40px;
  }

  .header-nav__cta {
    margin: 0 0 0 auto;
    color: #FFFFFF;
  }

  .header-nav__link {
    color: #FFFFFF;
  }

  .header-nav__cta {
    padding-bottom: 0;
    border-bottom: solid 1px #FFFFFF;
  }

  .header-nav__logo-text {
    font-family: "Actay Wide", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
  }

  .header-nav__cta-link {
    font-family: "Actay Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
  }

  .header-nav__link {
    font-family: "Actay Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .slider {
    padding: 113px 70px;
    height: 100vh;
  }

  .slider__header {
    font-family: "Actay Wide", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 114px;
    color: #FFFFFF;
    margin-bottom: 60px;
    margin-top: 10px;
  }

  .slider__wrapper {
    padding: 0;
  }

  .slider__list-wrapper {
    margin-bottom: 0;
    max-width: 100%;
  }

  .slider__slides {
    aspect-ratio: auto;
    display: block;
    position: relative;
    overflow-x: unset;
    padding-top: 0;
  }

  .slider__slide {
    width: 285px;
    height: 80px;
    padding: 22px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    backdrop-filter: blur(20px);
  }

  .slider__slide::after {
    width: 16px; 
    height: 28px;
    bottom: 60px;
    left: 100%;
  }

  .slider__slide--two {
    position: absolute;
    z-index: 2;
    top: 246px;
    left: 77px;
  }

  .slider__slide--one::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 18px;
    width: 122px;
    height: 210px;
    background: url(assets/DottedLineOnePng.png) no-repeat;
  }

  .slider__slide--two::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 60px;
    left: 175px;
    width: 195px; 
    height: 170px;
    background: url(assets/DottedLineTwoPng.png) no-repeat;
  }

  .slider__slide--three {
    position: absolute;
    top: 343px;
    left: 428px;
  }

  .slider__slide--three::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 26px;
    width: 210px; 
    height: 234px;    
    background: url(assets/DottedLineThreePng.png) no-repeat;
  }

  .slider__slide--four {
    position: absolute;
    top: 112px;
    left: 356px;
  }

  .slider__slide--four::before {
    content: "";
    position: absolute;
    bottom: 27px;
    left: 220px;
    width: 310px;
    height: 112px;
    background: url(assets/DottedLineFourPng.png) no-repeat;
  }

  .slider__slide--five {
    position: absolute;
    top: 40px;
    right: 0;
  }

  .slider__slide--five::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 40px;
    width: 259px; 
    height: 186px;
    background: url(assets/DottedLineFivePng.png) no-repeat;
  }

  .slider__slide--six {
    position: absolute;
    top: 197px;
    right: 140px;
  }

  .slider__text {
    font-family: "Actay Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  .slider__controls {
    display: none;
  }

  .slider__icon {
    position: relative;
    min-width: 51px;
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E7600;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
  }

  .slider__icon span {
    font-size: 35px;
    color: #F6FFD2;
    margin-top: 18px;
    margin-left: 17px;
  }

  span.slider__icon-two {
    margin-left: 15px;
  }
  
  span.slider__icon-three {
    margin-left: 0;
  }
  
  span.slider__icon-four {
    margin-left: 13px;
  }
  
  span.slider__icon-five,
  span.slider__icon-six {
    margin-left: 14px;
  }
}